[http]
	sslVerify = false
	proxy = localhost:10809
[user]
	name = jyf
	email = jyfserendipity@outlook.com
[pull]
	rebase = true
[core]
	autocrlf = input
[push]
	default = simple
[https]
	proxy = localhost:10809
