* {
    /* Bar measurement icons: https://github.com/and3rson/graph-bars-font */
    /* Icon set: https://fontawesome.com/v5.15/how-to-use/on-the-desktop/setup/getting-started */
    font-family: 'JetBrainsMono NF';
    font-size: 16px;
    color: #f2e5bc;
    font-weight: bold;
}

.bar {
    border: None;
    background-color: transparent;
}

.widget {
    margin: 2px;
    border-radius: 5px;
    padding: 0px 2px;
}
.custom-widget {
    padding: 0px 6px;
}

.ws-btn {
    padding: 5px;
    background: rgba(60, 56, 54, 0.4);
    border: 1px solid rgba(168, 153, 132, 0.4);
    margin: 2px 1px;
    font-size: 12px;
    border-radius: 3px;
}

.ws-btn:hover {
    color: #fbf1c7;
}

.ws-btn.populated {
    border-color: rgba(168, 153, 132, 1.0);
    color: #ebdbb2;
}

.ws-btn.active {
    background: rgba(251, 241, 199, 0.85);
    color: #121212;
}
